.btn {
  border: none;
  background: orange;
  color: white;
  padding: 14px 28px;
  border-radius: 50px;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  transition: background 0.3s ease;
  white-space: nowrap;
}

.btn:hover {
  background: #ff9800;
}
