.layout {
  padding: 0 80px;
  max-width: 1400px;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .layout {
    padding: 0 60px;
  }
}

@media (max-width: 768px) {
  .layout {
    padding: 0 30px;
  }
}

@media (max-width: 480px) {
  .layout {
    padding: 0 16px;
  }
}
