body {
  font-family: "Arial", Helvetica, sans-serif;
  overflow-x: hidden;
  background-color: #faf9f6;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
